* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  padding: 0 10px;
  background: #d1d1d1;
  padding-top: 10%;
}

#form_data {
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
  width: 100%;
  max-width: 500px;
  box-shadow: 6px 6px 15px rgb(170, 170, 170);
  padding: 25px;
  border-radius: 10px;
  float: left;
}
#input_label label {
  font-size: 21px;
  font-weight: 500;
}
#input_label input {
  width: 100%;
  padding: 10px;
  border: 2px solid #8b8b8b;
  outline: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 7px;
}

#submit_btn {
  width: 100%;
  padding: 10px;
  background-color: #bb00bbc7;
  color: #fff;
  margin-top: 20px;
  border-radius: 7px;
  font-size: 21px;
  text-align: center;
}
